body {
    background-color: #4B0082;
    color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background-color: #6A00D6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .weather-api {
    background-color: #8A2BE2;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
   

  }

  .weather-api:hover {
    background-color: #9400D3;
  }
  
  .map-container {
    width: 100%;
    height: 300px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .map-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
  
  .weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #9400D3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .weather-data .data-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #9C27B0;
  }
  
  .weather-data .data-item:last-child {
    margin-bottom: 0;
  }